
<div class="container-fluid task">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <% @archivedtasks.each do |task| %>
        <%= render :partial => "task", :locals => { :title => task.title, 
                                                    :id => task.id,
                                                    :due => task.due,
                                                    :cellclass => 'singletask',
                                                    :titleclass => 'tasktitle_archived',
                                                    :showactions => false,
                                                    :showinformation => true,
                                                    :showgetback => true} %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <% @archivedtasks.each do |task| %>
        <%= render :partial => "taskdetail", :locals => { :calendar => @calendars.find(task.calendar_id).name, 
                                                    :id => task.id,
                                                    :author => task.autor,
                                                    :description => task.description,
                                                    :participants => task.participants} %>
      <% end %>
    </div>
  </div>
</div>

