<div class="container-fluid task">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <% @donetasks.each do |task| %>
        <%= render :partial => "task", :locals => { :task => task,
                                                  :status => 'closed'} %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <% @donetasks.each do |task| %>
        <%= render :partial => "taskdetail", :locals => { :task => task,
                                                  :status => 'closed'} %>
      <% end %>
    </div>
  </div>
</div>