<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>
<div class="container-fluid task">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
    <% @tasks.each do |task| %>
      <%= render :partial => "task", :locals => { :title => task.title, 
                                                  :id => task.id,
                                                  :due => task.due} %>
    <% end %>
</div>
<div class="col-xs-12 col-sm-6">
<% @tasks.each do |task| %>
  <%= render :partial => "taskdetail", :locals => { :title => task.title, 
                                                    :id => task.id,
                                                    :author => task.autor,
                                                    :description => task.description,
                                                    :participants => task.participants} %>
    <% end %>
    </div>
</div>
</div>

<%= link_to 'New Task', new_task_path %>
