<h1>ToDoify</h1>
<%= link_to "Facebook", login_path(:provider => "facebook") %>
<%= link_to "Twitter", login_path(:provider => "twitter") %>
<%= link_to "Google", login_path(:provider => "google_oauth2") %>