<div class="container-fluid task">
	<div class="row">
		<div class="col-xs-12 col-sm-6 singletask">
			<div class="row">
				<div class="col-xs-12 col-sm-7">
					<p class="tasktitle">Very Long Title</p>
					<p class="taskdate">15.06.2015 15:34</p>
				</div>
				<div class="col-xs-12 col-sm-5 iconbox">			
					<%= image_tag "icons/check.png", :class => "icons" %>
					<%= image_tag "icons/delete.png", :class => "icons" %>
					<%= image_tag "icons/info.png", :class => "icons" %>
				</div>	
			</div>
		</div>
	</div>
</div>